body{
  background: PALEGREEN;
}
.site-title{
  color: darkgreen;
  font-family: palatino;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.site-subtitle{
  color: darkgreen;
  font-family: palatino;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.menu{
  background: darkgreen;
}
.menu li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #F0FFF0;
}
a:hover {
  text-decoration: underline;
}
.menu ul {
  display: flex;
  justify-content: space-around;
}
